<script>
import Map from '@/components/Map.vue'

export default {
  name: 'Game',
  components: {
    Map
  },
  data ()
  {
    return {
      width: 0,
      height: 0
    };
  },
  mounted ()
  {
    this.width = this.$el.clientWidth;
    this.height = this.$el.clientHeight;
  }
}
</script>

<template>
  <div id="game">
    <Map v-if="width !== 0" id="map" :width="width" :height="height"></Map>
    <!--<div id="hud" :style="{ width: width+'px', height: height+'px' }"></div>-->
  </div>
</template>

<style>
  #game {
    position: relative;
  }
  #hud {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
  }
  #map {
    position: relative;
    z-index: 1;
    cursor: pointer;
  }
</style>