<script>
  import TileMap from '@/game/map/tileMap';
  import Point from '@/game/map/coordonates';

  export default
  {
    props: {
      width: Number,
      height: Number
    },
    data ()
    {
      return {
        map: null,
        dragged: false,
        zoom: 1,
        posX: 0,
        posY: 0
      }
    },
    mounted ()
    {
      this.map = new TileMap(this.$refs.canvas.getContext('2d'));
      this.draw();
    },
    methods: {
      draw ()
      {
        this.$refs.canvas.getContext('2d').clearRect(0, 0, this.width, this.height);

        this.map.draw(this.posX, this.posY, this.width, this.height, this.zoom);
      },
      onDrag (event)
      {
        this.dragged = new Point(event.pageX, event.pageY);
      },
      onMove (event)
      {
        if (this.dragged) {
          var vector = this.dragged.move(event.pageX, event.pageY);

          this.posX += vector.x;
          this.posY += vector.y;

          this.draw();
        }
      },
      onRelease ()
      {
        this.dragged = false;
      }
    }
  }
</script>

<template>
  <canvas ref="canvas" :width="width" :height="height" @mousedown="onDrag" @mouseup="onRelease" @mousemove="onMove"></canvas>
</template>